/* article쪽 관련 CSS */

.article {
    background-color: white;
}


/* hyoil.html */

.underline {
    text-decoration: dotted underline;
}


/* 클릭 비활성화 */

.disable {
    pointer-events: none;
}


/*PC용 CSS*/

@media all and (min-width:1024px) {
     :root {
        /* 사이드메뉴 트랜지션 속도 변수 */
        --sidemenu-transition-time: 0.3s;
        /* 사이드바 가로넓이 변수 */
        --sidebar-width: 5rem;
    }
    /*사이드바 관련 CSS*/
    .sidebar {
        position: fixed;
        z-index: 999;
        height: 100%;
        width: var(--sidebar-width);
        top: 0;
        left: 0;
        background-color: white;
    }
    /* 사이드바의 PC용 로고 */
    .sidebar .logo-rotate {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }
    /* 사이드바의 모바일용 로고 */
    .sidebar .logo {
        display: none;
    }
    /* 메뉴 버튼 */
    .sidebar .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        color: black;
        /* 트랜지션 효과 */
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    .sidebar .btn:hover {
        color: grey;
    }
    .sidebar .btn:not(.active) {
        transform: translate(-50%, -50%) rotate(0deg);
        /* 트랜지션 효과  */
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    .sidebar .bottom {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(270deg);
        color: grey;
    }
    /*사이드메뉴*/
    .sidemenu {
        position: fixed;
        z-index: 998;
        height: 100%;
        width: 20rem;
        top: 0%;
        left: var(--sidebar-width);
        opacity: 0.9;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: whitesmoke;
        /*사이드메뉴 애니메이션 효과*/
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    /*active 클래스가 없으면 사이드메뉴 표시안함.*/
    .sidemenu:not(.active) {
        transform: translateX(-20rem);
        /*사이드메뉴 애니메이션 효과*/
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    .sidemenu .menu {
        padding: 1rem;
    }
    .sidemenu .menu a {
        position: relative;
        text-decoration: none;
        color: grey;
    }
    .sidemenu .menu a:hover {
        font-weight: bold;
        color: black;
    }
    .sidemenu .menu p {
        color: black;
        font-weight: bold;
        font-size: 2rem;
    }
    .sidemenu .lang {
        padding: 1rem;
        width: 100%;
    }
    .sidemenu .lang li {
        padding: 0.1rem;
        display: inline;
    }
    .sidemenu .lang a {
        text-decoration: none;
        color: grey;
    }
    .sidemenu .lang a:hover {
        font-weight: bold;
        color: black;
    }
    /*info 페이지 관련*/
    .info {
        margin-left: var(--sidebar-width);
    }
}


/*모바일용 CSS*/

@media all and (max-width:1023px) {
     :root {
        /* 메뉴 트랜지션 시간 */
        --sidemenu-transition-time: 0.3s;
        /* 상단바 높이 */
        --sidebar-height: 4rem;
    }
    .sidebar {
        position: fixed;
        z-index: 999;
        height: var(--sidebar-height);
        width: 100%;
        top: 0;
        left: 0;
        background-color: whitesmoke;
    }
    /* 로고 */
    .sidebar .logo-rotate {
        display: none;
    }
    .sidebar .logo {
        position: absolute;
        width: auto;
        height: var(--sidebar-height);
        top: 0%;
        left: 0%;
    }
    /* 메뉴 버튼 */
    .sidebar .btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%) rotate(0);
        color: black;
        /* 트랜지션 효과 */
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    .sidebar .btn:hover {
        color: grey;
    }
    .sidebar .btn:not(.active) {
        transform: translate(-50%, -50%) rotate(180deg);
        /* 트랜지션 효과  */
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    .sidebar .bottom {
        display: none;
    }
    /*사이드메뉴*/
    .sidemenu {
        position: fixed;
        z-index: 998;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0;
        opacity: 0.9;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: whitesmoke;
        /*사이드메뉴 애니메이션 효과*/
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    /*active 클래스가 없으면 사이드메뉴 표시안함.*/
    .sidemenu:not(.active) {
        transform: translateX(100%);
        /*사이드메뉴 애니메이션 효과*/
        transition: var(--sidemenu-transition-time) ease-in-out;
    }
    .sidemenu .menu {
        padding: 1rem;
    }
    .sidemenu .menu a {
        position: relative;
        text-decoration: none;
        color: grey;
    }
    .sidemenu .menu a:hover {
        font-weight: bold;
        color: black;
    }
    .sidemenu .menu p {
        color: black;
        font-weight: bold;
        font-size: 2rem;
    }
    .sidemenu .lang {
        padding: 1rem;
        width: 100%;
    }
    .sidemenu .lang li {
        padding: 0.1rem;
        display: inline;
    }
    .sidemenu .lang a {
        text-decoration: none;
        color: grey;
    }
    .sidemenu .lang a:hover {
        font-weight: bold;
        color: black;
    }
    .info {
        margin-top: var(--sidebar-height);
    }
}