<div>
    <section class="hero is-medium is-success has-text-centered">
        <div class="hero-body">
            <p class="title">
                HYOIL
            </p>
            <p class="subtitle">
                작은 생각 하나로 당신을 새로운 삶으로 이끌어가겠습니다.
            </p>
        </div>
    </section>
    <div class="pt-6" id="we-are">
        <div class="columns">
            <div class="column is-half has-text-centered">
                <strong class="title">R&D 기반<br>AI 디지털 헬스케어 기술 혁신 서비스</strong>
            </div>
            <div class="column">
                <p class="subtitle has-text-danger">AI 빅데이터 운동처방</p>
            </div>
        </div>
    </div>
</div>