<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--import css-->
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!--import icon by css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!--import js-->
    <script src="js/framework/vue.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/main.js"></script>

    <title>HYOIL</title>
</head>

<body>
    <!-- TODO: 동영상이 없는 곳에서 has-navbar-fixed-top 추가-->
    <!--상단 navbar-->
    <nav class="sidebar">
        <!--로고 : 사이드바의 40% 차지 -->
        <a>
            <img src="images/hyoil_logo.png">
        </a>
        <a>
            <i class="fas fa-angle-double-right fa-3x"></i>
        </a>
        <p class="bottom">
            HYOIL Corporation
        </p>

        <div class="sidemenu">
            <!--사이드메뉴-->
            <div>
                <div class="menu">
                    <p>HYOIL</p>
                    <ul>
                        <li><a>우리는</a></li>
                        <li><a>인사말</a></li>
                        <li><a>회사개요</a></li>
                        <li><a>회사현항</a></li>
                        <li><a>개발현황</a></li>
                        <li><a>Vision</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <p>HEALO</p>
                    <ul>
                        <li><a>학교 체육수업</a></li>
                        <li><a>체육학원</a></li>
                        <li><a>APT 커뮤니티센터</a></li>
                        <li><a>헬스 트레이닝</a></li>
                        <li><a>K-POP 댄스</a></li>
                        <li><a>메디컬 센터</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <p>AI EPS</p>
                    <ul>
                        <li><a>운동처방서비스</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <p>KLCA</p>
                    <ul>
                        <li><a>인터넷 강의</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <p>Contact</p>
                    <ul>
                        <li><a>문의</a></li>
                    </ul>
                </div>
            </div>

            <!--언어설정-->
            <div>
                <ul class="lang">
                    <li>
                        <a>KR</a>
                    </li>
                    <li>
                        <a>CN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--메인 페이지-->
    <div style="margin-left: 8rem;">
        <article id="article" class="article">
            <!-- 첫 페이지 -->
            <template v-if="contentList.start">
                <div style="z-index: -1;">
                    <video src="./videos/hyoil_intro_cn.mp4" type="video/ogg" poster="./images/image_bg.png" loop controls autoplay muted>브라우저가 지원하지 않는 기능입니다.</video>
                </div>
            </template>
            <!-- HYOIL 페이지 -->
            <template v-if="contentList.hyoil">
                <strong>HYOIL PAGE TEST</strong>
            </template>
        </article>

        <!--footer-->
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
    </div>
</body>

</html>