<div class="m-6">
    <p class="title is-size-1">Contact</p>
    <article class="columns content">
        <div class="column">
            <dt>
                <dl class="subtitle"><strong>본사</strong></dl>
                <dd>강원도 원주시 지정면 기업도시로 200(의료기기지원센터) 816호</dd>
                <dd>Room#816 Medical-Device Support Complex Center, 200 Gieopdosi-ro, Jijeong-myeon, Wonju, Gangwon-do</dd>
                <dd><strong>TEL</strong> 033-743-8826</dd>
                <dd><strong>FAX</strong> 033-744-8826</dd>
                <dd><strong>E-Mail</strong> sjhee815@hanmail.net</dd>
                <dl class="subtitle mt-5"><strong>경기 R&D센터</strong></dl>
                <dd>경기도 안양시 만안구 만안로 191 이지움 334호</dd>
                <dd>Room#334 Ezium, 191 Manan-ro, Manan-gu, Anyang-si, Gyeonggi-do</dd>
                <dd><strong>E-Mail</strong> robotv@hanmail.net</dd>
            </dt>

        </div>
    </article>
</div>