<div class="m-6">
    <p class="title is-size-1">Contact</p>
    <article class="columns content">
        <div class="column">
            <dt>
                <dl class="subtitle"><strong>总部</strong></dl>
                <dd>Room#816 Medical-Device Support Complex Center, 200 Gieopdosi-ro, Jijeong-myeon, Wonju, Gangwon-do</dd>
                <dd><strong>电话</strong> 033-743-8826</dd>
                <dd><strong>传真</strong> 033-744-8826</dd>
                <dd><strong>电子邮件</strong> sjhee815@hanmail.net</dd>
                <dl class="subtitle mt-5"><strong>R&D Center Gyeonggi</strong></dl>
                <dd>Room#334 Ezium, 191 Manan-ro, Manan-gu, Anyang-si, Gyeonggi-do</dd>
                <dd><strong>电子邮件</strong> robotv@hanmail.net</dd>
            </dt>

        </div>
    </article>
</div>