<div class="m-6">
    <p class="title is-size-1">Contact</p>
    <article class="columns content">
        <div class="column">
            <dt>
                <dl class="subtitle">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-building"></i>
                        </span>
                    </span>
                    <strong>본사</strong>
                </dl>
                <dd>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        <span>강원도 원주시 지정면 기업도시로 200(의료기기지원센터) 816호</span>
                    </span>
                </dd>
                <dd>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-phone"></i>
                        </span>
                        <strong>TEL</strong>
                    </span>
                    <span> 033-743-8826</span></dd>
                <dd>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-fax"></i>
                        </span>
                    </span>
                    <strong>FAX</strong>
                    <span> 033-744-8826</span>
                </dd>
                <dd>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-at"></i>
                        </span>
                    </span>
                    <strong>E-Mail</strong>
                    <span> sjhee815@hanmail.net</span>
                </dd>
                <dl class="subtitle mt-5">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-cog"></i>
                        </span>
                    </span>
                    <strong>경기 R&D센터</strong>
                </dl>
                <dd>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        <span>경기도 안양시 만안구 만안로 191 이지움 334호</span>
                    </span>
                    
                </dd>
                <dd>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-at"></i>
                        </span>
                        <strong>E-Mail</strong>
                    </span>
                    <span> robotv@hanmail.net</span>
                </dd>
            </dt>

        </div>
    </article>
</div>