<section class="hero is-medium is-info has-text-centered">
    <div class="hero-body">
        <p class="title">
            HEALO
        </p>
        <p class="subtitle">
            Exercise Prescription Platform
        </p>
    </div>
</section>
<!-- HEALO LOGO -->
<div class="columns">
    <div class="column is-one-thrid"></div>
    <div class="column is-one-third has-text-centered">
        <figure class="image is-3by1">
            <img class="" src="./static/articleImages/healo-1.png">
        </figure>
    </div>
    <div class="column is-one-third"></div>
</div>
<!--  -->
<!-- 학교체육 & 체육학원 -->
<!--  -->
<section class="section has-text-right" id="physical-edu">
    <h1 class="title has-text-primary"><a href="#physical-edu">#</a>학교체육수업 & 체육학원</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">학교체육수업 & 체육학원</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/healo-2.png">
            </figure>
        </div>
    </div>
</article>
<!--  -->
<!-- 아파트 -->
<!--  -->
<section class="section has-text-right" id="apartment">
    <h1 class="title has-text-primary"><a href="#apartment">#</a>아파트 커뮤니티 센터</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">아파트 커뮤니티 센터</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/healo-3.png">
            </figure>
        </div>
    </div>
</article>
<!--  -->
<!-- 헬스 트레이닝 -->
<!--  -->
<section class="section has-text-right" id="training">
    <h1 class="title has-text-primary"><a href="#training">#</a>헬스 트레이닝</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">개인별 트레이닝</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/healo-4.png">
            </figure>
        </div>
    </div>
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">피트니스 센터</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/healo-5.png">
            </figure>
        </div>
    </div>
</article>
<!--  -->
<!-- K-POP -->
<!--  -->
<section class="section has-text-right" id="k-pop">
    <h1 class="title has-text-primary"><a href="#k-pop">#</a>K-POP 댄스</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">K-POP</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/healo-6.png">
            </figure>
        </div>
    </div>
</article>
<!--  -->
<!-- 메디컬 -->
<!--  -->
<section class="section has-text-right" id="medical">
    <h1 class="title has-text-primary"><a href="#medical">#</a>메디컬</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">메디컬</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/healo-7.png">
            </figure>
        </div>
    </div>
</article>