<!-- <section class="hero is-medium is-success has-text-centered">
    <div class="hero-body">
        <p class="title">
            HYOIL
        </p>
        <p class="subtitle">
            작은 생각 하나로 당신을 새로운 삶으로 이끌어가겠습니다.
        </p>
    </div>
</section> -->

<!--  -->
<!-- 우리는 -->
<!--  -->
<section class="section has-text-right" id="we-are">
    <h1 class="title has-text-info"><span style="font-size: 4rem;">01</span> 우리는</h1>
</section>
<article class="content box">
    <div class="columns is-vcentered">
        <!-- First Column -->
        <div class="column is-half has-text-centered">
            <h2 class="title is-2">R&D 기반<br>AI 디지털 헬스케어 기술 혁신 서비스</h2>
        </div>
        <!-- Second Column -->
        <div class="column is-half">
            <!-- bulma:card -->
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <!-- 본문 -->
                        <p class="title has-text-danger">AI 빅데이터 운동처방</p>
                        <div class="mt-2">
                            <p class="subtitle has-text-info">플랫폼 확장성</p>
                            <ul>
                                <li>기술력 및 레퍼런스 기반 교육 컨텐츠 제공</li>
                                <li><em class="underline has-text-danger">코로나19</em>에 따른 비 대면 홈 트레이닝 문화 확산</li>
                                <li>실시간 온라인 맞춤형 AI 코칭 서비스 확장</li>
                            </ul>
                        </div>
                        <div class="mt-6">
                            <p class="subtitle has-text-info">국내 최고 수준의 데이터 및 기술력 보유</p>
                            <ul>
                                <li>세계적 수준 운동처방 DB 구축</li>
                                <li>표준동작 및 AI 운동 분석 기술기반 맞춤형 운동 처방</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- images -->
    <div class="columns is-mobile is-hidden-touch">
        <div class="column is-one-quarter">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/hyoil-1.png">
            </figure>
        </div>
        <div class="column is-one-quarter">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/hyoil-2.jpg">
            </figure>
        </div>
        <div class="column is-one-quarter">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/hyoil-3.jpg">
            </figure>
        </div>
        <div class="column is-one-quarter">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/hyoil-4.jpg">
            </figure>
        </div>
    </div>

</article>
<!--  -->
<!-- 인사말 -->
<!--  -->
<section class="section has-text-right" id="greeting">
    <h1 class="title has-text-info"><span style="font-size: 4rem;">02</span> 인사말</h1>
</section>
<article class="content box">
    <div class="columns">
        <!-- 대표 이미지 -->
        <div class="column is-one-third">
            <figure class="image is-4by5">
                <img class="" src="./static/articleImages/hyoil-5.png">
            </figure>
        </div>
        <div class="column">
            <!-- 인사말 -->
            <blockquote>
                <h4 class="title is-4">
                    "코로나19로 인한 언택트 시대,<br>국민건강을 위해 디지털 헬스 케어 기술혁신을 선도해 가겠습니다."
                </h4>
            </blockquote>
            <!-- 소개 -->
            <div class="columns">
                <div class="column is-half">
                    <p class="title is-size-5">대표 송주희 (Joohee Song)</p>
                    <div class="tags are-large">
                        <span class="tag is-info is-light">교육학 전공</span>
                        <span class="tag is-info is-light">심리상담사</span>
                        <span class="tag is-info is-light">아동상담사</span>
                        <span class="tag is-info is-light">노인심리상담사</span>
                    </div>
                </div>
                <div class="column is-half">
                    <dl>
                        <dt class="subtitle underline">Awards</dt>
                        <dd>2017년 보건복지부 신지식인 선정</dd>
                        <dd>부패방지 위원회 공로상 수상</dd>
                        <dd>LOHAS 한국 특허정보원장상 수상</dd>
                        <dt class="subtitle underline mt-5">Experience</dt>
                        <dd>근전도측정 디바이스 / 동작분석기술 개발</dd>
                        <dd>심박수측정 디바이스 / 운동량분석기술 개발</dd>
                        <dd>개인 맞춤형 운동처방 컨텐츠 및 알고리즘 개발</dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- 약력 -->
    </div>
</article>
<!--  -->
<!-- 회사현황 -->
<!--  -->
<section class="section has-text-right" id="company-status">
    <h1 class="title has-text-info"><span style="font-size: 4rem;">03</span> 회사현황</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">AI 시장 내 포지셔닝 강화</p>
            <p class="subtitle">핵심 기술 이력 확보, 적극적인 R&D 투자를 통해 기술 경쟁력 확보</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/hyoil-6.png">
            </figure>
        </div>
    </div>
</article>
<!--  -->
<!-- 개발현황 -->
<!--  -->
<section class="section has-text-right" id="dev-status">
    <h1 class="title has-text-info"><span style="font-size: 4rem;">04</span> 개발현황</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">기술개발 네트워크</p>
            <p class="subtitle">독보적인 기술력 확보, 안정적인 파트너쉽 구축</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/hyoil-7.png">
            </figure>
        </div>
    </div>
</article>
<!--  -->
<!-- Vision -->
<!--  -->
<section class="section has-text-right" id="vision">
    <h1 class="title has-text-info"><span style="font-size: 4rem;">05</span> VISION</h1>
</section>
<article class="box">
    <!-- title -->
    <div class="columns">
        <div class="column is-full has-text-centered">
            <p class="title">Our VISION</p>
        </div>
    </div>
    <!-- image -->
    <div class="columns">
        <div class="column is-full">
            <figure class="image is-16by9">
                <img class="" src="./static/articleImages/hyoil-8.png">
            </figure>
        </div>
    </div>
</article>